VITE_GATEWAY_URL=http://127.0.0.1:9080
VITE_API_PREFIX=/api/admin
VITE_API_BASE_URL=http://127.0.0.1:9080/api/admin
VITE_KC_BASE_URL=http://localhost:8080
VITE_KC_REALM=usermanagement
VITE_KC_CLIENT_ID=usermanagement-web
VITE_KC_AUTHORITY=http://localhost:8080/realms/usermanagement
VITE_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/login
